@model PublisherViewModel
@{
    ViewData["Title"] = "Publisher";
}
<h3>Publisher Entry</h3>
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}

<form action="/publisher/Update" method="post">
    <input type="hidden" name="id" value="@Model.id" />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" required name="Name" value="@Model.Name">

    </div>
    <div class="mb-3">
        <label class="form-label">Adress</label>
        <textarea class="form-control" placeholder="type address.." name="Adress">@Model.Adress</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">ContactInfo</label>
        <input type="text" class="form-control" required name="ContactInfo" value="@Model.ContactInfo">

    </div>
    <div class="mb-3">
        <label class="form-label">CreatedOn</label>
        <input type="datetime" class="form-control" required name="CreatedAt" value="@Model.CreatedAt" readonly>

    </div>
    <div class="mb-3">
        <label class="form-label">UpdatedOn</label>
        <input type="datetime" class="form-control" required name="UpdatedAt" value="@Model.UpdatedAt" readonly>

    </div>


    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/publisher/list" class="btn btn-outline-primary">List</a>
</form>
